
.container{
  width: 80%;
  margin: auto;
}
.mobile-container{
  width: 100%;
  margin: auto;
}

.section {
  margin-top: 20px;
}

.main-div,
.main-panel {
  width: 100%;
}

.main-panel {
  background: #fff;
  min-height: 80vh;
  padding: 20px;
}

.side-div,
.side-nav,
.side-nav-div {
  display: none;
}

.side-nav-div {
  display: block;
  width: 60%;
  max-width: 200px;
  max-height: 90vh;
  min-height: 300px;
  position: absolute;
  left: 4px;
  z-index: 10;
  transform: translateY(-90vh);
  background: #fff;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px 0px hsl(0, 0%, 80%), -2px 0px 8px 0px lightgrey;
  /* animation-name: side-nav-div; */
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes side-nav-div-open {
  0% {
    transform: translateY(-90vh);
  }

  100% {
    transform: translateY(0px)
  }
}

@keyframes side-nav-div-close {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-90vh)
  }
}

.side-nav ul,
.side-nav-div ul {
  list-style-type: none;
  margin-top: 20px;
}

.side-nav ul li,
.side-nav-div ul li {
  color: hsl(0, 0%, 30%);
  margin: 10px 0;
  padding: 4px 10px;
}

.side-menu-button {
  color: whitesmoke;
  position: absolute;
  cursor: pointer;
  /* font-size: 400px; */
  margin: 4px;
  display: block;
}

.footer {
  display: none;
  color: grey;
  margin-bottom: 40px;
}

@media (min-width: 1000px){
  .side-div {
    display: inline-block;
    width: 26%;
    min-width: 300px;
    min-height: 300px;
    background: #fff;
    margin-left: 20px;
    border: 1px solid grey;
  }
}

@media (min-width: 768px) {
  .container {
    width: 80%;
    margin: auto;
  }

  .main-div {
    width: 74%;
  }
  .mobile-container{
    width: 80%;
    margin: auto;
  }
  .side-div-div {
    /* min-height: 80vh; */
    /* min-width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer-nav-item {
    display: inline-block;
    margin: 4px 2px;
    flex-shrink: 0;
  }

  .footer-title {
    color: black;
  }

  .footer-lic {
    width: 100%;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
  }

  .side-div {
    display: inline-block;
    width: 26%;
    min-width: 300px;
    min-height: 300px;
    background: #fff;
    margin-left: 20px;
    border: 1px solid grey;
  }

  .side-nav {
    display: inline-block;
    width: 20%;
    min-width: 200px;
    background: #fff;
    border-right: 1px solid grey;
    padding: 20px 0px 20px 0px;
    min-height: calc(100vh - 90px);
    box-shadow: -1px 0px 6px 0px hsl(0, 0%, 80%);
  }

  .footer {
    display: inline-block;
    width: 26%;
    min-width: 240px;
    height: 100px;
    background: #fff;
    margin-left: 20px;
    border: 1px solid grey;
  }

  .main-div {
    width: 78%;
  }

  .side-nav-div {
    display: none;
  }

  .main-panel {
    width: 80%;
    background: #fff;
    box-shadow: 1px 0px 6px 0px hsl(0, 0%, 80%);
  }

  .side-title {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .side-menu-button {
    display: none !important;
  }
}