table {
    width:100%;
    border-radius: 2px;
  }
  .table-div{
    width: 100%;
    overflow-x: auto;
    padding: auto;
  }
  table, th, td {
    border: 1px solid hsl(220, 23%, 31%);
    border-collapse: collapse;
  }
  th, td {
    padding: 0px 10px;
    text-align: left;
  }
  table.member tr:nth-child(even) {
    background-color: #eee;
  }
  table.member tr:nth-child(odd) {
   background-color: #fff;
  }
  table.member th {
    background-color: hsl(220, 23%, 31%);
    color: white;
  }
  .addmember{
    height: 36px;
    width: 36px;
    background-size: cover;
    cursor: pointer;

  }
  .button-container{
    display: flex;
    justify-content: center;
    border: none;
    border-top: 1px solid hsl(220, 23%, 31%);
  }
  .group-text-ip {
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 8px 20px 8px 20px;
  }
.group-member-type{
  width: 82px;
  height: 38px;
  border: 2px solid hsl(220, 23%, 31%);
  border-radius: 2px;
  margin-left: 10px;
  background: hsl(220, 23%, 31%);
  color: whitesmoke;
  font-weight: bold;
  font-size: 14px;
}
.group-member-type option{
  border: 2px solid hsl(220, 23%, 31%);
  background: whitesmoke;
  height: 30px;
  padding: 10px;
  color: hsl(220, 23%, 31%);
}
  /* .search-box{
    display: flex;
    justify-content: jus;
    padding: 6px;
  } */
  /* .group-field-container{
    width: 500px;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
  } */

  
.panel-pop{
  width: 80%;
  overflow: hidden;
  display: flex;
}

.pop-ok{
  width: 20px;
  height: 20px;
}
.task-view{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.task-data{
   display: flex;
   justify-content: center;
}
.task-card-view{
  margin:10px;
}
@media (min-width: 768px){
  .addmember{
    height: 50px;
    width: 50px;

  }
}