table {
    width:100%;
    border-radius: 2px;
  }
  .table-div{
    width: 100%;
    overflow-x: auto;
    padding: auto;
  }
  table, th, td {
    border: 1px solid rgb(27, 45, 74);
    border-collapse: collapse;
    
  }
  th{
    font-size:1em;
  }
  th, td {
    padding: 0px 10px;
    text-align: left;
  }
  table.member tr:nth-child(even) {
    background-color: #eee;
  }
  table.member tr:nth-child(odd) {
   background-color: #fff;
  }
  table.member th {
    background-color: rgb(27, 45, 74);
    color: white;
  }
  .addmember{
    height: 36px;
    width: 36px;
    background-size: cover;
    cursor: pointer;

  }
  .button-container{
    display: flex;
    justify-content: center;
    border: none;
    border-top: 1px solid rgb(27, 45, 74);
  }
  .group-text-ip {
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 8px 20px 8px 20px;
  }
.group-member-type{
  width: 82px;
  height: 38px;
  border: 2px solid rgb(27, 45, 74);
  border-radius: 2px;
  margin-left: 10px;
  background: rgb(27, 45, 74);
  color: whitesmoke;
  font-weight: bold;
  font-size: 14px;
}
.group-member-type option{
  border: 2px solid rgb(27, 45, 74);
  background: whitesmoke;
  height: 30px;
  padding: 10px;
  color: rgb(27, 45, 74);
}
  /* .search-box{
    display: flex;
    justify-content: jus;
    padding: 6px;
  } */
  .group-field-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }

  
.panel-pop{
  width: 80%;
  overflow: hidden;
  display: flex;
}

.pop-ok{
  width: 20px;
  height: 20px;
}


@media (min-width: 768px){
  .addmember{
    height: 50px;
    width: 50px;

  }
}