.post-feed{
  margin: 40px 0;
}
.feed-item{
  background-color: #fff;
  min-height: 80px;
  clear: both;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0px hsl(0, 0%, 75%);
}
.no-post-div{
  min-height: 80px;
  background-color: #fff;
  text-align: center;
  color: #999;
  clear: both;
  padding: 20px;
  font-size: 40px;
  line-height: 80px;
  border-radius: 2px;
  border: 1px solid grey;
  box-shadow: 0px 2px 2px 0px hsl(0, 0%, 75%);
}
.post-by, .commented-by{
  font-weight: bold;
  font-size: 16px;
  color: hsl(249, 53%, 46%);
  cursor: pointer;
  padding-right: 6px;
}
.posted-at, .commented-at{
  font-size: 12px;
  color: gray;
  margin-left: 10px;
}
.item-text{
  font-size: 16px;
  margin: 10px 0px;
}
.only-text{
  font-size: 24px;
}
.item-image{
  width: 100%;
  max-height: 120vh;
}
.item-props{
  position: relative;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
.item-options{
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.likes{
  position: relative;
  left: 0px;
}
.likes, .comments{
  font-size: 14px;
  color: gray;
}
.comments{
  position: absolute;
  right: 10px;
}
.like-button, .comment-button, .share-button{
  display: flex;
  align-items: center;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}
.post-liked{
  color: hsl(249, 53%, 46%);
}

@media (min-width: 704px){
  
}

.like-button:active, .comment-button:active, .share-button:active{
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transform: scale(0.8);
}
.post-liked .like-img{
  animation-name: like-anim;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}
  @keyframes like-anim{
    0%{
      transform: rotate(0deg);
      transform: scale(1);
    }
    20%{
      transform: scale(0.8);
      transform: rotate(10deg);
    }
    40%{
      transform: scale(1.1);
    }
    60%{
      transform: scale(1.2);
      transform: rotate(-20deg);
    }
    70%{
      transform: scale(1.4);
      transform: rotate(-10deg);
    }
    100%{
      transform: scale(1);
      transform: rotate(0deg);
    }
  }
.like-img, .comment-img, .share-img{
  width: 50px;
  height: 46px;
  padding: 4px;
  filter: opacity(0.8);
}
.comment-img, .share-img{
  width: 44px;
  height: 42px;
  filter: opacity(0.6);
}
.comment-box{
  border: 1px solid gray;
  padding: 8px 20px;
  width: 104%;
  margin-left: -2%;
  border-radius: 50px;
  font-size: 14px;
  background: rgb(242, 242, 245);
}
.comments-div{
  margin: 10px;
}
.comment{
  padding: 4px;
}
.comment-line{
  padding: 8px 12px;
  margin-top: 6px;
  background: rgb(242, 242, 245);
  display: inline-block;
  border-radius: 50px;
}


@media (min-width: 768px){
  .comment-box{
    border: 1px solid gray;
    padding: 8px 20px;
    width: 90%;
    margin-left: 5%;
    border-radius: 50px;
    font-size: 14px;
    background: rgb(242, 242, 245);
  } 
}







.skeleton-wrapper {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  min-height: 150px;
  margin-bottom: 20px;
}

.skeleton-wrapper-inner {
  height: 150px;
  padding: 15px;
  position: relative;
}

.skeleton-wrapper-body div {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderSkeleton;
  -webkit-animation-timing-function: linear;
  background: #f6f7f8;
  background-image: -webkit-gradient(linear, left center, right center, from(#f6f7f8), color-stop(.2, #edeef1), color-stop(.4, #f6f7f8), to(#f6f7f8));
  background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  height: 104px;
  position: relative;
}

.skeleton-wrapper-body {
  -webkit-animation-name: skeletonAnimate;
  background-image: -webkit-gradient(linear, center top, center bottom, from(deg), color-stop(0, red), color-stop(.15, orange), color-stop(.3, yellow), color-stop(.45, green), color-stop(.6, blue), color-stop(.75, indigo), color-stop(.8, violet), to(red));
  background-image: -webkit-linear-gradient(135deg, red 0%, orange 15%, yellow 30%, green 45%, blue 60%,indigo 75%, violet 80%, red 100%);
  background-repeat: repeat;
  background-size: 50% auto;
}

.skeleton-wrapper-body div {
  position: absolute;
  right: 15px;
  left: 15px;
  top: 15px;
}

div.skeleton-author {
  top: 20px;
  height: 20px;
  left: 25px;
  width: 150px;
}

div.skeleton-label {
  left: 30px;
  top: 50px;
  height: 10px;
  width: 100px;
}
div.skeleton-content-1,
div.skeleton-content-2,
div.skeleton-content-3 {
  left: 15px;
  right: 15px;
  height: 10px;
}
div.skeleton-content-1 {
  top: 100px;
}
div.skeleton-content-2 {
  top: 120px;
}
div.skeleton-content-3 {
  top: 140px;
}

@keyframes placeholderSkeleton {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@-webkit-keyframes skeletonAnimate {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
