.header {
  width: 100%;
  min-height: 60px;
  background: hsl(210, 25%, 30%);
  position: relative;
  z-index: 100;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.logo__title {
  font-size: 40px;
  line-height: 50px;
  color: whitesmoke;
  width: 160px;
  flex-shrink: 0;
  display: inline-block;
  border-bottom: 2px solid white;
}
#work-icon {
  width: 40px;
  height: 40px;
  filter: brightness(320%);
  padding: 2px;
  transform: translateY(8px);

}
.nav-div {
  width: 100%;
  flex-shrink: 0;
  display: inline-block;
}
.nav-icons {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .nav-div {
    width: 300px;
  }
  .header-container {
    justify-content: space-between;
  }
}
